version: "3"

services:
  beammp-server:
    image: rouhim/beammp-server
    build:
      context: .
    stdin_open: true
    tty: true
    environment:
      # Game server parameter
      - PRIVATE
      - DEBUG
      - CARS
      - MAX_PLAYERS
      - MAP
      - NAME
      - DESC
      - PORT
      - AUTH_KEY
      - ADDITIONAL_SERVER_CONFIG_TOML
    volumes:
      # Just move all the client mods you want to add into this folder
      - ./client-mods:/beammp/Resources/Client
      # All server mods belong here
      - ./server-mods:/beammp/Resources/Server
    ports:
      - "${PORT}:${PORT}/tcp"
      - "${PORT}:${PORT}/udp"
    logging:
      driver: "json-file"
      options:
        max-size: "50m"