# This builds the latest stable release version of beammp
name: CI
on:
  push:
    branches: [ main ]
  workflow_dispatch: # Allows you to run this workflow manually from the Actions tab
  schedule:
    - cron: 0 23 * * *
jobs:
  build-docker-image:
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDKIT: 1 # use the new docker build backend
      BEAMMP_AUTH_KEY: ${{ secrets.BEAMMP_AUTH_KEY }}
    steps:
      - uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Build images
        # 1. create docker buildx builder instance
        # 2. build for all platforms
        # 3. load amd64 image in: docker images
        run: |
          docker buildx create --use
          docker buildx build -t rouhim/beammp-server --platform linux/amd64,linux/arm64,linux/arm/v7 .           
          docker buildx build --load -t rouhim/beammp-server .
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'rouhim/beammp-server'
          exit-code: '1'
      - name: Test the built image
        env:
          BEAMMP_AUTH_KEY: ${{ secrets.BEAMMP_AUTH_KEY }}
        run: |
          bash test-image.sh
      - name: Push images
        run: |
          docker buildx build -t rouhim/beammp-server --platform linux/amd64,linux/arm64,linux/arm/v7 --push .
      - name: Update docker hub description
        uses: peter-evans/dockerhub-description@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          repository: rouhim/beammp-server
