# This builds the master branch (UNSTABLE!) of beammp
name: CI
on:
  push:
    branches: [ main ]
  workflow_dispatch: # Allows you to run this workflow manually from the Actions tab
  schedule:
    - cron: 0 23 * * *
jobs:
  build-docker-image:
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDKIT: 1 # use the new docker build backend
      BUILD_DEVELOPMENT_VARIANT: master # build the master (unstable) branch of beammp
    steps:
      - uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Build images
        run: |
          docker buildx create --use
          docker buildx build -t rouhim/beammp-server:unstable --platform linux/amd64,linux/arm64,linux/arm/v7 .
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'rouhim/beammp-server:unstable'
          exit-code: '1'
      - name: Push images
        run: |
          docker buildx build -t rouhim/beammp-server:unstable --platform linux/amd64,linux/arm64,linux/arm/v7 --push .
      - name: Update docker hub description
        uses: peter-evans/dockerhub-description@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          repository: rouhim/beammp-server
